<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<h3 class="mt-4">Welcome Administrator</h3>

<a href="/editusers" class="btn btn-secondary">Users</a>
<a href="/" class="btn btn-secondary">Logout</a>
